.carrito{
    height: 110vh;
    width: 50rem;
    display: inline;
    
    align-items: center;   
}
.carro{
    width: 400px;
}
.tabla{
    border-style: ridge;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}