.carrito{
    background: rgb(185, 238, 183);
    min-height: 90vh;
}
.fondoCarro{
    min-height: 90vh;
}
.carro{
    width: 400px;
    margin: auto auto auto auto;
}
.tabla{    
    border-radius: 20px;
    padding: 10px; 
    margin: 20px; 
    max-width: 50rem;
    margin: auto auto 20px;    
} 

.card {
    border-radius: 40px;    
}

@media (max-width: 667px) {
    .precio {
        font-size: 13px;
    }
    .tabla {
      font-size: 13px;
    }
}