#letras {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 10px;
    text-shadow: black 2px 2px;
    display: block;
    position: absolute;
    text-align: center;
    color: white;
    padding-top: 10%;
    z-index: 10;
}
#panytec {
    background-color: #2d436f;
    color: black;
    width: auto;
    margin: 0;
}

#comu {
    background-color: #81cc76;
    width: auto;
    margin: 0;
}

#senso {
    background-color: #f5db57;
    width: auto;
    margin: 0;
}

#sire {
    background-color: #e16453;
    margin-bottom: 50px;
    width: auto;
    margin: 0;
}
#opaco {
    width: 100vw;
    padding: 0;
    margin: 0;
}