.contenedorPro{
    background-image: url(../assets/images/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}